<!DOCTYPE html>
<html lang="en">

<head>
    <title>Test Harness</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <main class="container">
        <h1>Test Harness</h1>

        <details>
            <summary>Session</summary>
            <ul>
                {% for key, value in session.items() %}
                <li><small><strong>{{key}}:</strong>
                        <code>{{value}}</code></small>
                </li>
                {% endfor %}
            </ul>
        </details>

        <hr />
        <details>
            <summary>Headers</summary>
            <ul>
                {% for key, value in headers.items() %}
                <li><small><strong>{{key}}:</strong>
                        <code>{{value}}</code></small>
                </li>
                {% endfor %}
            </ul>
        </details>
        <hr />
        <details>
            <summary>Settings</summary>
            <ul>
                {% for key, value in settings.items() %}
                <li><small><strong>{{key}}:</strong>
                        <code>{{value}}</code></small>
                </li>
                {% endfor %}
            </ul>
        </details>
        <hr />
        <details>
            <summary>Env Vars</summary>
            <ul>
                {% for key, value in env_vars.items() %}
                <li><small><strong>{{key}}:</strong>
                        <code>{{value}}</code></small>
                </li>
                {% endfor %}
            </ul>
        </details>
        <hr />
    </main>
</body>

</html>
